<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= data %>

    <form action="/updatecar/<%= data._id %>?_method=PUT" method="post">
        <label for="">Marque</label>
        <input type="text" name="marque" value="<%= data.marque  %>">
        
        <label for="">Modele</label>
        <input type="text" name="modele" value="<%= data.modele  %>">

        <label for="">Description</label>
        <textarea name="description"><%= data.description  %></textarea>

        <input type="submit" value="Modifier la nouvelle voiture">
    </form>

    <form action="/deletecar/<%= data._id %>?_method=DELETE" method="post"">
        <input type="submit" value="Suppression de la voiture">
    </form>
</body>
</html>